@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/* ---------------------------------------general */

body{
    background-color: #0c0b10;
}

*,*:focus,*:hover{
    outline:none !important;
}

.opaque-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    
}

p{
    font-family: Montserrat;
    color: rgb(255, 255, 255);
}

/* ---------------------------------------general nav*/

.navbar {
    height: 100px;
    background-color: #27272700;
    z-index: 3;
} 

.navbar a{
    color: rgb(255, 255, 255);
} 

.navbar-brand{
    font-family: Expletus Sans;
    font-size: 200%;
}

.navbar-toggler{
    background-color: grey;
    border: grey 2px solid;
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-collapse{
    font-size: 110%;
    font-family:Montserrat ;
    padding-top: 2px;
    color: white;
}

.nav-item{
    color: red;
}

/* ---------------------------------------buttons */


.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 500;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.button1 {
    background-color: #5c5ddc;
    border: 2px solid #5c5ddc;
    color:    rgb(17, 17, 17);
    letter-spacing: 3px;
}

.button1:hover {
    background-color: transparent;
    border: 2px solid #5c5ddc;
    color:   #5c5ddc;
    letter-spacing: 3px;
}


/* ---------------------------------------colours */

.dark{
    color:  #5c5ddc;
}





@media (min-width: 200px) {
    /* ---------------------------------------nav sm */

    .togglebtnright{
        display: none;
    }

    

    /* ---------------------------------------header sm */

    .callout-container {
        height: 100vh;

        background: url("C:/code institute/Customize.ie/Customize.ie/assets/img/VECTEEZY_BLACK_BACKGROUND_PS1120.jpg") no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        top: -100px;
        z-index: 1;
    }

    .jumbotron {
        width: 100%;
        background-color: transparent;
        z-index: 3;
    }

    .jumbotron-header{
        font-family: Expletus Sans;
        font-size: 400%;
        color: white;
    }

    

    /* ---------------------------------------about sm */



    /* ---------------------------------------3 key words sm */

   

    /* ---------------------------------------packages sm */

    

    /* ---------------------------------------map sm */

    

    /* ---------------------------------------contact sm */

}

   
@media (min-width: 580px) {

    /* ---------------------------------------nav md */

    .togglebtnright{
        display: block;
    }

    

    /* ---------------------------------------header md */

    

    /* ---------------------------------------about md */

   

    /* ---------------------------------------3 key words md */

   

    /* ---------------------------------------packages md */

  

    /* ---------------------------------------map md */



    /* ---------------------------------------contact md */

}

   
@media (min-width: 1000px) {
    
    /* ---------------------------------------nav lg */


    /* ---------------------------------------head lg */



    /* ---------------------------------------about lg */

  

    /* ---------------------------------------3 key worgs lg */
  

    /* ---------------------------------------packages lg */

    
    /* ---------------------------------------map lg */


    /* ---------------------------------------contact lg */

   
}

@media (min-width: 1450px) {

   
}