@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&display=swap'); 

/* ---------------------------------------general */

body{
    background-color: #161616;
}

*,*:focus,*:hover{
    outline:none !important;
}

/* ---------------------------------------general nav*/

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #272727;
} 

.navbar a{
    color: rgb(255, 255, 255);
} 

.navbar-brand{
    font-family: Expletus Sans;
    font-size: 200%;
}

.navbar-toggler{
    background-color: grey;
    border: grey 2px solid;
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ---------------------------------------buttons */


.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 500;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.button1 {
    background-color: #6200EE;
    border: 2px solid #6200EE;
    color:    #161616;
    letter-spacing: 3px;
}

.button1:hover {
    background-color: transparent;
    border: 2px solid #6200EE;
    color:   #6200EE;
    letter-spacing: 3px;
}





@media (min-width: 200px) {
    /* ---------------------------------------nav sm */

    .togglebtnright{
        display: none;
    }

    

    /* ---------------------------------------header sm */

    

    /* ---------------------------------------about sm */



    /* ---------------------------------------3 key words sm */

   

    /* ---------------------------------------packages sm */

    

    /* ---------------------------------------map sm */

    

    /* ---------------------------------------contact sm */

}

   
@media (min-width: 580px) {

    /* ---------------------------------------nav md */

    .togglebtnright{
        display: block;
    }

    

    /* ---------------------------------------header md */

    

    /* ---------------------------------------about md */

   

    /* ---------------------------------------3 key words md */

   

    /* ---------------------------------------packages md */

  

    /* ---------------------------------------map md */



    /* ---------------------------------------contact md */

}

   
@media (min-width: 1000px) {
    
    /* ---------------------------------------nav lg */


    /* ---------------------------------------head lg */



    /* ---------------------------------------about lg */

  

    /* ---------------------------------------3 key worgs lg */
  

    /* ---------------------------------------packages lg */

    
    /* ---------------------------------------map lg */


    /* ---------------------------------------contact lg */

   
}

@media (min-width: 1450px) {

   
}