 @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&display=swap'); 

/* ---------------------------------------general */

/* ---------------------------------------general nav*/

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(238, 238, 238);
} 

.navbar a{
    color: #03DAC6;
} 

#navbarText{
    color: black;
}

.navbar-brand{
    font-family: Expletus Sans;
    font-size: 200%;
    color: rgb(41, 41, 41);
}

.navbar-toggler{
    background-color: grey;
    border: grey 2px solid;
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ---------------------------------------buttons */

.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 500;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: transparent;
    border: 2px solid #03DAC6;
    color:#03DAC6;
    letter-spacing: 3px;
}

.button1:hover {
    background-color: #03DAC6;
    border: 2px solid #03DAC6;
    color: #03DAC6;
    letter-spacing: 3px;
}





@media (min-width: 200px) {
    /* ---------------------------------------nav sm */

    .togglebtnright{
        display: none;
    }

    /* ---------------------------------------header sm */

    

    /* ---------------------------------------about sm */



    /* ---------------------------------------3 key words sm */

   

    /* ---------------------------------------packages sm */

    

    /* ---------------------------------------map sm */

    

    /* ---------------------------------------contact sm */

}

   
@media (min-width: 580px) {

    /* ---------------------------------------nav md */

    .togglebtnright{
        display: block;
    }

    

    /* ---------------------------------------header md */

    

    /* ---------------------------------------about md */

   

    /* ---------------------------------------3 key words md */

   

    /* ---------------------------------------packages md */

  

    /* ---------------------------------------map md */



    /* ---------------------------------------contact md */

}

   
@media (min-width: 1000px) {
    
    /* ---------------------------------------nav lg */


    /* ---------------------------------------head lg */



    /* ---------------------------------------about lg */

  

    /* ---------------------------------------3 key worgs lg */
  

    /* ---------------------------------------packages lg */

    
    /* ---------------------------------------map lg */


    /* ---------------------------------------contact lg */

   
}

@media (min-width: 1450px) {

   
}