 @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ---------------------------------------general */

*,*:focus,*:hover{
    outline:none !important;
}

p{
    font-family: Montserrat;
    color: rgb(29, 29, 29);
}

/* ---------------------------------------general nav*/

.navbar {
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 3;
} 

.navbar a{
    color: #2c2c2c;
} 


.navbar-brand{
    font-family: Expletus Sans;
    font-size: 200%;
    color: rgb(41, 41, 41);
}

.navbar-toggler{
    background-color: grey;
    border: grey 2px solid;
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-collapse{
    font-size: 110%;
    font-family:Montserrat ;
    padding-top: 2px;
}



/* ---------------------------------------buttons */

.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 500;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    /* background-color:  #6200EE; */
    border: 2px solid ;
    /* color:white; */
    letter-spacing: 3px;
}

.button1:hover {
    background-color:transparent;
     border: 2px solid;
    /* color: #6200EE;  */
    letter-spacing: 3px;
}



/* ---------------------------------------colours */

.light{
    color: #6200EE;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.green{
    background-color: pink;
}

.box{
    width: 200px;
    height: 200px;
}




@media (min-width: 200px) {
    /* ---------------------------------------nav sm */

    .togglebtnright{
        display: none;
    }

    /* ---------------------------------------header sm */

    .callout-container {
        height: 100vh;

        background: url("C:/code institute/Customize.ie/Customize.ie/assets/img/White Background.jpg") no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        top: -100px;
        z-index: 1;
    }

    .jumbotron {
        width: 100%;
        background-color: transparent;
    }

    .jumbotron-header{
        font-family: Expletus Sans;
        font-size: 400%;
    }

    

    /* ---------------------------------------about sm */



    /* ---------------------------------------3 key words sm */

   

    /* ---------------------------------------packages sm */

    

    /* ---------------------------------------map sm */

    

    /* ---------------------------------------contact sm */

}

   
@media (min-width: 580px) {

    /* ---------------------------------------nav md */

    .togglebtnright{
        display: block;
    }

    

    /* ---------------------------------------header md */

    

    /* ---------------------------------------about md */

   

    /* ---------------------------------------3 key words md */

   

    /* ---------------------------------------packages md */

  

    /* ---------------------------------------map md */



    /* ---------------------------------------contact md */

}

   
@media (min-width: 1000px) {
    
    /* ---------------------------------------nav lg */


    /* ---------------------------------------head lg */



    /* ---------------------------------------about lg */

  

    /* ---------------------------------------3 key worgs lg */
  

    /* ---------------------------------------packages lg */

    
    /* ---------------------------------------map lg */


    /* ---------------------------------------contact lg */

   
}

@media (min-width: 1450px) {

   
}