 @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&display=swap'); 

/* ---------------------------------------general */

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: pink;
} 

.navbar a{
    color: white;
} 

.navbar-brand{
    font-family: Expletus Sans;
    font-size: 200%;
}

.navbar-toggler{
    background-color: grey;
    border: grey 2px solid;
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ---------------------------------------buttons */



@media (min-width: 200px) {
    /* ---------------------------------------nav sm */

    

    /* ---------------------------------------header sm */

    

    /* ---------------------------------------about sm */



    /* ---------------------------------------3 key words sm */

   

    /* ---------------------------------------packages sm */

    

    /* ---------------------------------------map sm */

    

    /* ---------------------------------------contact sm */

}

   
@media (min-width: 580px) {

    /* ---------------------------------------nav md */

    

    /* ---------------------------------------header md */

    

    /* ---------------------------------------about md */

   

    /* ---------------------------------------3 key words md */

   

    /* ---------------------------------------packages md */

  

    /* ---------------------------------------map md */



    /* ---------------------------------------contact md */

}

   
@media (min-width: 1000px) {
    
    /* ---------------------------------------nav lg */


    /* ---------------------------------------head lg */



    /* ---------------------------------------about lg */

  

    /* ---------------------------------------3 key worgs lg */
  

    /* ---------------------------------------packages lg */

    
    /* ---------------------------------------map lg */


    /* ---------------------------------------contact lg */

   
}

@media (min-width: 1450px) {

   
}